.trends {
  margin-top: 200px;
}

.trends .header {
  display: flex;
  margin-bottom: 50px;
}

.trends h2 {
  font-size: 20px;
}

.header button {
  margin-left: 82%;
  background-color: transparent;
  color: #5b5858;
  border: none;
}

.trends-boxs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section-1 .trends-box1 {
  width: 50%;
  margin-right: 10px;
}

.section-1 .trends-box1 img {
  width: 100%;
  margin-bottom: 40px;
}

.section-1 .trends-box2 {
  width: 50%;
  margin-right: 10px;
}

.section-1 .trends-box2 img {
  width: 100%;
  margin-bottom: 40px;
}

.section-1 .trends-boxs .img-info {
  margin-left: 20px;
  margin-right: 20px;
}

.trends-boxs span {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.section-1 h2 {
  font-size: 21px;
}

.section-1 p.date {
  font-size: 11px;
  color: #5b5858;
}
.section-1 p.info {
  font-size: 14px;
}

.section-2 .trends-box1 {
  width: 50%;
  margin-right: 10px;
}

.section-2 .trends-box1 img {
  width: 100%;
  margin-bottom: 20px;
}

.section-2 .trends-box2 {
  width: 50%;
  margin-right: 10px;
}

.section-2 .trends-box2 img {
  width: 100%;
  margin-bottom: 20px;
}

.section-2 .trends-box3 {
  width: 50%;
}

.section-2 .trends-box3 img {
  width: 100%;
  margin-bottom: 20px;
}

.section-2 span {
  font-size: 13px;
}

.section-2 h2 {
  font-size: 17px;
}

.section-2 p.date {
  font-size: 10px;
  color: #5b5858;
}
.section-2 p.info {
  font-size: 13px;
}

.trends .loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.trends .loadmore button {
  width: 20%;
  padding: 15px;
  background-color: transparent;
  color: #196712;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #196712;
}

.trends .section-2 {
  margin-top: 150px;
}

/* Responsiveness Section */

@media screen and (max-width: 1226px) {
  .section-1 span {
    font-size: 17px;
  }

  .section-1 h2 {
    font-size: 20px;
  }

  .section-1 p.date {
    font-size: 10px;
  }
  .section-1 p.info {
    font-size: 13px;
  }
}

@media screen and (max-width: 1191px) {
  .header button {
    margin-left: 80%;
  }
}

@media screen and (max-width: 1176px) {
  .trends {
    margin-top: 170px;
  }

  .section-1 span {
    font-size: 16px;
  }

  .section-1 h2 {
    font-size: 19px;
  }

  .section-1 p.info {
    font-size: 12px;
  }
  .trends .loadmore button {
    font-size: 13px;
  }
}

@media screen and (max-width: 1127px) {
  .section-1 span {
    font-size: 15px;
  }

  .section-1 h2 {
    font-size: 17px;
  }

  .section-1 p.date {
    font-size: 9px;
  }

  .section-1 p.info {
    font-size: 11px;
  }
  .trends .loadmore button {
    font-size: 12px;
  }
}

@media screen and (max-width: 1081px) {
  .header button {
    margin-left: 79%;
  }
}

@media screen and (max-width: 1033px) {
  .header button {
    margin-left: 78%;
  }

  .trends .loadmore button {
    font-size: 10px;
  }
}

@media screen and (max-width: 1003px) {
  .section-2 span {
    font-size: 11px;
  }

  .section-2 h2 {
    font-size: 15px;
  }

  .section-2 p.date {
    font-size: 8px;
  }
  .section-2 p.info {
    font-size: 11px;
  }
}
@media screen and (max-width: 989px) {
  .header button {
    margin-left: 77%;
  }
}

@media screen and (max-width: 950px) {
  .header button {
    margin-left: 76%;
  }
}

@media screen and (max-width: 914px) {
  .header h2 {
    font-size: 17px;
  }

  .header button {
    font-size: 10px;
    margin-left: 79%;
  }
}

@media screen and (max-width: 897px) {
  .section-2 span {
    font-size: 10px;
  }

  .section-2 h2 {
    font-size: 14px;
  }

  .section-2 p.info {
    font-size: 10px;
  }
}

@media screen and (max-width: 877px) {
  .header button {
    margin-left: 78%;
  }
}

@media screen and (max-width: 840px) {
  .header button {
    margin-left: 77%;
  }
}
@media screen and (max-width: 807px) {
  .header button {
    margin-left: 76%;
  }
}

@media screen and (min-width: 791px) {
  .ms-box1 {
    display: none;
  }
  .ms-box2 {
    display: none;
  }
  .newsletter {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .trends {
    display: none;
  }
  .ms-box1 img {
    width: 100%;
  }
  .ms-box2 img {
    width: 100%;
  }
}
