.heading {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .head-bar {
  width: 17.285709381103516px;
  margin-left: 49%;
  margin-top: -1.7%;
  height: 4px;
  border-radius: 2px;
  background-color: green;
}

.gadget-1 {
  margin-top: 70px;
  display: flex;
}

.gadget-1 .img img {
  width: 100%;
}

.gadget-1 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.date {
  color: #5b5858;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.readmore {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #372a47;
  text-decoration: underline gray;
}

.LatestPosts .newsletter {
  background: #554f4f1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 35%;
}

.LatestPosts .newsletter h2 {
  font-size: 1rem;
}

.LatestPosts .newsletter .bar {
  width: 19.285709381103516px;
  height: 4px;
  border-radius: 2px;
  left: 1042px;
  bottom: 148px;
  border: 4px;
  background-color: green;
}

.LatestPosts .newsletter p {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.LatestPosts .newsletter input {
  margin-top: 9px;
  font-size: 10px;
  background-color: transparent;
  width: 260px;
  height: Hug (33px);
  padding: 10px 0px 10px 9px;
  border: 1px solid #47424230;
  gap: 10px;
}

.LatestPosts .newsletter button {
  margin-top: 7px;
  font-weight: 550;
  font-size: 9px;
  width: 270px;
  height: Hug (33px);
  padding: 6px 12px 6px 12px;
  border: 1px;
  gap: 10px;
  border: 1px solid #196712;
  color: #196712;
}

.LatestPosts h3 {
  font-size: 1.2rem;
  margin-bottom: 2px;
}
.LatestPosts hr {
  color: #b8b5b5;
  margin-bottom: 10px;
}
.LatestPosts span {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.LatestPosts b {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  font-size: 0.9rem;
}

.LatestPosts p.date {
  margin-top: 0px;
  font-size: 0.6rem;
  color: #5b5858;
}
.gadget-2 {
  margin-top: 350px;
}

.gadget-2 .img img {
  width: 62%;
}

.gadget-2_info {
  margin-top: 50px;
}

.gadget-2_info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.gadget-3 {
  margin-top: 150px;
}

.gadget-3 .img img {
  width: 62%;
}

.gadget-3_info {
  margin-top: 50px;
}

.gadget-3_info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1210px) {
  .container .head-bar {
    margin-top: -1.9%;
  }
}
@media screen and (max-width: 1125px) {
  .container .head-bar {
    margin-top: -2%;
  }
}
@media screen and (max-width: 1039px) {
  .container .head-bar {
    margin-top: -2.2%;
  }
}
@media screen and (max-width: 952px) {
  .heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 899px) {
  .container .head-bar {
    margin-top: -2.3%;
  }
}
@media screen and (max-width: 864px) {
  .container .head-bar {
    margin-top: -2.4%;
    margin-left: 48.6%;
  }
}

@media screen and (max-width: 790px) {
  .container {
    background-color: red;
  }
}
