@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.heading {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .head-bar {
  width: 17.285709381103516px;
  margin-left: 49%;
  margin-top: -1.7%;
  height: 4px;
  border-radius: 2px;
  background-color: green;
}

.gadget-1 {
  margin-top: 5%;
  display: flex;
}

.gadget-1 .img {
  margin-right: 20px;
}

.gadget-1 .img img {
  width: 100%;
  height: auto;
}

.gadget-1 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.date {
  color: #5b5858ad;

  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.info {
  font-size: 15px;
}

.readmore {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #372a47;
  text-decoration: underline gray;
}

.LatestPosts .newsletter {
  background-color: #554f4f1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.LatestPosts .newsletter h2 {
  font-size: 15px;
}

.LatestPosts .newsletter .bar {
  margin-left: 2.5%;
  margin-top: -3.7%;
  width: 15.285709381103516px;
  height: 4px;
  border-radius: 2px;

  background-color: green;
}

.LatestPosts .newsletter p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.LatestPosts .newsletter input {
  margin-top: 9px;
  font-size: 10px;
  background-color: transparent;
  width: 80%;
  height: 3%;
  padding: 10px 0px 10px 9px;
  border: 1px solid #47424230;
  gap: 10px;
}

.LatestPosts .newsletter button {
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 550;
  font-size: 9px;
  width: 84%;

  padding: 6px 12px 6px 12px;
  border: 1px;
  gap: 10px;
  border: 1px solid #196712;
  color: #196712;
}

.LatestPosts h3 {
  margin-top: 30px;
  font-size: 17px;
  margin-bottom: 2px;
}
.LatestPosts hr {
  color: #b8b5b5;
  margin-bottom: -10px;
}
.LatestPosts span {
  font-size: 0.7rem;
}
.LatestPosts b {
  font-size: 0.9rem;
}

.LatestPosts p.date {
  font-size: 0.6rem;
  color: #5b5858;
  margin-top: -5px;
}
.gadget-2 {
  margin-top: 350px;
  display: flex;
}

.gadget-2 .img img {
  width: 100%;
  height: auto;
}

.gadget-2_info {
  margin-top: 50px;
}

.gadget-2 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.gadget-2 .empty-div {
  width: 35%;
  height: 35%;
}

.gadget-3 {
  margin-top: 150px;
  display: flex;
}

.gadget-3 .img img {
  width: 100%;
}

.gadget-3_info {
  margin-top: 50px;
}

.gadget-3 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.gadget-3 .empty-div {
  width: 35%;
  height: 35%;
}

@media screen and (max-width: 1250px) {
  .LatestPosts h3 {
    font-size: 15px;
  }

  .LatestPosts span {
    font-size: 10px;
  }
  .LatestPosts b {
    font-size: 13px;
  }

  .LatestPosts p.date {
    font-size: 8px;
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 1210px) {
  .container .head-bar {
    margin-top: -1.9%;
  }
}

@media screen and (max-width: 1193px) {
  .LatestPosts .newsletter h2 {
    font-size: 12px;
  }

  .LatestPosts .newsletter .bar {
    height: 3.5px;
  }

  .LatestPosts .newsletter input {
    font-size: 9px;
    margin-top: 4px;
    height: 2%;
  }
}

@media screen and (max-width: 1170px) {
  .LatestPosts span {
    font-size: 9px;
  }
  .LatestPosts b {
    font-size: 12px;
  }

  .LatestPosts p.date {
    font-size: 7px;
  }
}

@media screen and (max-width: 1130px) {
  .LatestPosts h3 {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1125px) {
  .container .head-bar {
    margin-top: -2%;
  }
}
@media screen and (max-width: 1125px) {
  .container .head-bar {
    margin-top: -2%;
  }
}

@media screen and (max-width: 1100px) {
  .gadget-2 {
    margin-top: 300px;
  }

  .LatestPosts .newsletter h2 {
    font-size: 11px;
  }

  .LatestPosts .newsletter .bar {
    height: 3.4px;
  }

  .LatestPosts .newsletter input {
    font-size: 8px;
    height: 1.9%;
  }
}
@media screen and (max-width: 1050px) {
  .LatestPosts .newsletter h2 {
    font-size: 10px;
  }

  .LatestPosts .newsletter .bar {
    width: 12px;
    height: 3px;
  }

  .LatestPosts .newsletter input {
    margin-top: -3px;
    font-size: 7px;
    height: 1.6%;
  }
  .LatestPosts .newsletter button {
    margin-top: 5px;
    font-size: 7px;
  }
}

@media screen and (max-width: 1017px) {
  .LatestPosts h3 {
    font-size: 13px;
  }

  .LatestPosts b {
    font-size: 11px;
  }
}
@media screen and (max-width: 999px) {
  .gadget-2 {
    margin-top: 250px;
  }

  .LatestPosts .newsletter p {
    font-size: 7px;
  }

  .LatestPosts h3 {
    font-size: 12px;
  }

  .LatestPosts span {
    font-size: 8px;
  }

  .LatestPosts b {
    font-size: 10px;
  }

  .LatestPosts p.date {
    font-size: 6px;
    margin-bottom: -10px;
  }
}
@media screen and (max-width: 985px) {
  .LatestPosts h3 {
    font-size: 11px;
  }

  .LatestPosts b {
    font-size: 9px;
  }
}
@media screen and (max-width: 965px) {
  .LatestPosts .newsletter h2 {
    font-size: 9px;
  }

  .LatestPosts .newsletter .bar {
    width: 10px;
    height: 2.2px;
  }

  .LatestPosts .newsletter input {
    margin-top: -2px;
    font-size: 6px;
    height: 1.4%;
  }
  .LatestPosts .newsletter button {
    margin-top: 5px;
    font-size: 6px;
  }
}

@media screen and (max-width: 970px) {
  .LatestPosts h3 {
    font-size: 10px;
  }

  .LatestPosts span {
    font-size: 7px;
  }

  .LatestPosts b {
    font-size: 8px;
  }
  .LatestPosts p.date {
    margin-top: -11px;
    font-size: 5px;
  }
}
@media screen and (max-width: 952px) {
  .heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 899px) {
  .container .head-bar {
    margin-top: -2.3%;
  }
}
@media screen and (max-width: 864px) {
  .container .head-bar {
    margin-top: -2.4%;
    margin-left: 48.6%;
  }
}
@media screen and (max-width: 862px) {
  .LatestPosts .newsletter p {
    font-size: 6px;
  }
  .LatestPosts .newsletter input {
    width: 70%;
    height: 1%;
    font-size: 6px;
  }
  .LatestPosts .newsletter button {
    width: 77%;
    font-size: 5px;
  }
}
@media screen and (max-width: 843px) {
  .LatestPosts .newsletter h2 {
    font-size: 8px;
  }

  .LatestPosts .newsletter p {
    font-size: 5px;
  }
  .LatestPosts .newsletter input {
    width: 70%;
    height: 1%;
    font-size: 6px;
  }
  .LatestPosts .newsletter button {
    width: 77%;
    font-size: 5px;
  }
}

@media screen and (max-width: 790px) {
  .container {
    background-color: red;
  }
}
