.gadget-1 {
  display: flex;
  margin-right: 50px;
}

.gadget-1 .img img {
  width: 85%;
  margin-left: 90px;
}

.most-featured h3 {
  font-size: 1.3rem;
  margin-top: 10px;
}
.most-featured hr {
  color: #b8b5b5;
  margin-bottom: 40px;
}
.most-featured span {
  font-size: 0.9rem;
}
.most-featured b {
  font-size: 1rem;
}

.most-featured p.date {
  font-size: 0.6rem;
  color: #5b5858;
}

.gadget-1_info {
  position: absolute;
  margin-top: 530px;
  margin-left: 90px;
}

.gadget-1_info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.date {
  color: #5b5858;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.readmore {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #372a47;
  text-decoration: underline gray;
}

.gadget-2 {
  margin-top: 150px;
}

.gadget-2 .img img {
  width: 62%;
}

.gadget-2_info {
  margin-top: 50px;
  margin-left: 90px;
}

.gadget-2_info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.gadget-3 {
  margin-top: 150px;
}

.gadget-3 .img img {
  width: 62%;
}

.gadget-3_info {
  margin-top: 50px;
  margin-left: 90px;
}

.gadget-3_info span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
