.home {
  display: flex;
}

.img img {
  width: 100%;
}
.most-featured {
  width: 50%;
  height: 50%;
  margin-left: 4%;
  margin-top: -1.5%;
  display: inline-block;
  box-sizing: content-box;
}

.most-featured h3 {
  font-size: 1.3rem;
}
.most-featured hr {
  color: #b8b5b5;
}
.most-featured span {
  font-size: 0.9rem;
}
.most-featured b {
  font-size: 1rem;
}

.most-featured p.date {
  font-size: 0.6rem;
  color: #5b5858;
}

.home-gadgets {
  width: 100%;
  /* padding-top: 100px; */
}

.home-gadgets span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.home-gadgets .date {
  color: #5b5858;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.home-gadgets .readmore {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #372a47;
  text-decoration: underline gray;
}

/* Responsiveness Section */

@media screen and (min-width: 1271px) {
}
