@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.home {
  display: flex;
}

.img img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.most-featured {
  width: 50%;
  height: auto;
  margin-left: 3%;
}

.most-featured h3 {
  font-size: 16px;
}
.most-featured hr {
  color: #b8b5b5;
}
.most-featured p span {
  font-size: 13px;
}
.most-featured b {
  font-size: 15px;
}

.most-featured p.date {
  margin-top: -10px;
  font-size: 9px;
  color: #5b5858;
}

.home span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.home .date {
  color: #5b5858;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.home .readmore {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #372a47;
  text-decoration: underline gray;
}

/* Responsiveness Section */

@media screen and (max-width: 1158px) {
  .img span {
    font-size: 14px;
  }
  .img h2 {
    font-size: 21px;
  }
  .img .date {
    font-size: 10px;
  }
  .img .info {
    font-size: 15px;
  }
  .img .readmore {
    font-size: 14px;
  }

  .most-featured h3 {
    font-size: 14px;
  }
  .most-featured p span {
    font-size: 11px;
  }
  .most-featured b {
    font-size: 13px;
  }
  .most-featured p.date {
    font-size: 7px;
  }
}

@media screen and (max-width: 1003px) {
  .img span {
    font-size: 13px;
  }
  .img h2 {
    font-size: 20px;
  }
  .img .date {
    font-size: 9px;
  }
  .img .info {
    font-size: 14px;
  }
  .img .readmore {
    font-size: 13px;
  }

  .most-featured h3 {
    font-size: 13px;
  }
  .most-featured p span {
    font-size: 10px;
  }
  .most-featured b {
    font-size: 12px;
  }
  .most-featured p.date {
    font-size: 5px;
  }
}

@media screen and (max-width: 965px) {
  .img img {
    margin-bottom: 20px;
  }
  .img span {
    font-size: 12px;
  }
  .img h2 {
    font-size: 19px;
  }
  .img .date {
    font-size: 9px;
  }
  .img .info {
    font-size: 13px;
  }
  .img .readmore {
    font-size: 12px;
  }

  .most-featured h3 {
    font-size: 12px;
  }
  .most-featured hr {
    margin-bottom: -11px;
  }

  .most-featured b {
    font-size: 11px;
  }
  .most-featured p.date {
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 924px) {
  .img span {
    font-size: 11px;
  }
  .img h2 {
    font-size: 15px;
  }
  .img .date {
    font-size: 7px;
  }
  .img .info {
    font-size: 12px;
  }
  .img .readmore {
    font-size: 11px;
  }

  .most-featured h3 {
    font-size: 11px;
  }

  .most-featured p span {
    font-size: 9px;
  }

  .most-featured b {
    font-size: 10px;
  }
  .most-featured p.date {
    margin-bottom: -20px;
  }
}

@media screen and (max-width: 803px) {
  .most-featured p span {
    font-size: 8px;
  }

  .most-featured b {
    font-size: 9px;
  }

  .most-featured p.date {
    margin-bottom: -15px;
  }

  .home .hide {
    display: none;
  }
}

@media screen and (min-width: 791px) {
  .ms-home {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .home {
    display: none;
  }

  .box1-img {
    position: relative;
  }

  .box1-img img {
    max-width: 100%;
    height: auto;
  }

  .box1-img .img1-text {
    position: absolute;
    top: 38%;
    left: 27%;
  }

  .box1-img .img1-text h1 {
    font-family: Ubuntu;
    color: white;
    font-weight: bold;
    font-size: 300%;
  }

  .box2-img {
    margin-left: -5px;
    display: flex;
    padding: 2.5%;
  }
  .box2-img img {
    width: 24%;

    height: auto;
  }
  .box2-img .m-left-img {
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 700px) {
  .box1-img .img1-text h1 {
    font-size: 250%;
  }
}
@media screen and (max-width: 600px) {
  .box1-img .img1-text h1 {
    font-size: 200%;
  }
}
@media screen and (max-width: 500px) {
  .box1-img .img1-text h1 {
    font-size: 170%;
  }
}
@media screen and (max-width: 440px) {
  .box1-img .img1-text h1 {
    font-size: 150%;
  }
}
@media screen and (max-width: 400px) {
  .box1-img .img1-text h1 {
    font-size: 130%;
  }
}
@media screen and (max-width: 350px) {
  .box1-img .img1-text h1 {
    font-size: 110%;
  }
}
@media screen and (max-width: 300px) {
  .box1-img .img1-text h1 {
    font-size: 90%;
  }
}
