@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.techberg {
  width: 156px;
  height: 48.75px;
  top: 35.13px;
  left: 71px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 400;
}

.techberg span {
  font-weight: 700;
}

.navbar-links {
  width: Fixed (458px);
  height: Hug (23px);
  top: 41px;
  left: 426px;
  flex-direction: row;
  display: flex;
  margin-left: -15%;
}
.navbar-links p a {
  text-decoration: none;
  color: black;
  width: 86px;
  height: 23px;
  margin-right: 20px;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar-sign {
  width: 150px;
  display: flex;
}

.navbar-sign p {
  padding-left: 30px;
  width: 40px;
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* Responsiveness Section */

@media screen and (min-width: 1271px) {
  .navbar .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 1270px) {
  .techberg {
    font-size: 29px;
  }

  .navbar-links {
    margin-left: 0%;
  }
  .navbar-links p a {
    font-size: 19px;
  }
  .navbar-sign p {
    font-size: 17px;
    padding-left: 29px;
  }
}
@media screen and (max-width: 1200px) {
  .techberg {
    font-size: 28px;
  }

  .navbar-links p a {
    font-size: 18px;
  }
  .navbar-sign p {
    font-size: 16px;
    padding-left: 28px;
  }
}

@media screen and (max-width: 1130px) {
  .techberg {
    font-size: 27px;
  }

  .navbar-links {
    margin-left: 0%;
  }
  .navbar-links p a {
    font-size: 17px;
  }
  .navbar-sign p {
    font-size: 15px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 1050px) {
  .techberg {
    font-size: 26px;
  }

  .navbar-links {
    margin-left: 0%;
  }
  .navbar-links p a {
    font-size: 16px;
  }
  .navbar-sign p {
    font-size: 14px;
    padding-left: 26px;
  }
}

@media screen and (max-width: 950px) {
  .techberg {
    font-size: 25px;
  }

  .navbar-links {
    margin-left: 0%;
  }
  .navbar-links p a {
    font-size: 15px;
  }
  .navbar-sign p {
    font-size: 13px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 850px) {
  .techberg {
    font-size: 24px;
  }
  .navbar-links p a {
    font-size: 14px;
  }
  .navbar-sign p {
    font-size: 12px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 790px) {
  .navbar .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navbar .navbar-links {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #36ca67;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .navbar .responsive_nav {
    transform: none;
  }

  .navbar-links .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .navbar-links p {
    font-size: 1.5rem;
  }

  .navbar .navbar-sign {
    display: none;
  }
}
