@media screen and (min-width: 791px) {
  .blog-section {
    display: none;
  }
}

* {
  font-family: Ubuntu;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-container img {
  width: 100%;
  height: auto;
}

.blog-container .align-center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-container h2 {
  font-weight: 500;
  font-family: Ubuntu;
}

.blog-container .heading-top {
  margin-bottom: -2%;
}

.blog-container .bar {
  margin-top: -2%;
  margin-bottom: 5%;
  width: 20px;
  height: 6px;
  border-radius: 5px;
  background-color: green;
}

.blog-container h3 {
  font-family: ubuntu;
  margin: 20px 40px 40px 40px;
}

.blog-container p {
  font-family: ubuntu;
  margin: 0 40px 20px 40px;
}

.author {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author .avatar {
  display: flex;
}

.author h3 {
}

.author .avatar img {
  width: 100px;
}

.author .avatar .leftbar {
  width: 100px;
  height: 0.5px;
  margin: 50px 30px 0 0;
  background-color: black;
}
.author .avatar .rightbar {
  width: 100px;
  height: 0.5px;
  margin: 50px 0 0 30px;
  background-color: black;
}

.author .bar {
  margin-top: -2%;
  margin-bottom: 5%;
  width: 20px;
  height: 6px;
  border-radius: 5px;
  background-color: green;
}

.author p {
  margin: 0 40px 20px 40px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.icons img {
  width: 30px;
}

.icons .number {
  color: red;
  margin-right: 40%;
  margin-left: 8px;
  margin-top: 30px;
  font-size: 10px;
}

.icons .linkedin {
  margin-left: 10px;
}
